To find the dates which are missing in the train and transaction table in the years 2013 to 2015 for store 44.

In [2]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta

In [3]:
startDate = datetime.datetime(2013, 1, 1, 00, 00) 
startDate

datetime.datetime(2013, 1, 1, 0, 0)

In [45]:
endDate = datetime.datetime(2015, 12, 31, 00, 00)
endDate

datetime.datetime(2015, 12, 31, 0, 0)

In [46]:
totalDays = (endDate - startDate).days
totalDays

1094

In [47]:
dateList = []
for x in range (0, totalDays+1):
    dateList.append(startDate + datetime.timedelta(days = x))

In [48]:
dateList[0]

datetime.datetime(2013, 1, 1, 0, 0)

In [49]:
dateList[totalDays]

datetime.datetime(2015, 12, 31, 0, 0)

In [50]:
dfDateAll = pd.DataFrame({'date':dateList})

In [51]:
dfDateAll.shape

(1095, 1)

In [52]:
dfDateAll.dtypes

date    datetime64[ns]
dtype: object

In [53]:
dfDateAll.head()

        date
0 2013-01-01
1 2013-01-02
2 2013-01-03
3 2013-01-04
4 2013-01-05

In [54]:
dfDateAll.tail()

           date
1090 2015-12-27
1091 2015-12-28
1092 2015-12-29
1093 2015-12-30
1094 2015-12-31

In [55]:
dfDateAll['date'] = dfDateAll['date'].astype(str)

In [56]:
dfDateAll.head()

         date
0  2013-01-01
1  2013-01-02
2  2013-01-03
3  2013-01-04
4  2013-01-05

In [57]:
dfDateAll.dtypes

date    object
dtype: object

In [14]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)

In [58]:
sdfDateAll = sqlContext.createDataFrame(dfDateAll)

In [59]:
type(sdfDateAll)

pyspark.sql.dataframe.DataFrame

In [60]:
sdfDateAll.show()

+----------+
|      date|
+----------+
|2013-01-01|
|2013-01-02|
|2013-01-03|
|2013-01-04|
|2013-01-05|
|2013-01-06|
|2013-01-07|
|2013-01-08|
|2013-01-09|
|2013-01-10|
|2013-01-11|
|2013-01-12|
|2013-01-13|
|2013-01-14|
|2013-01-15|
|2013-01-16|
|2013-01-17|
|2013-01-18|
|2013-01-19|
|2013-01-20|
+----------+
only showing top 20 rows

In [61]:
sdfDateAll.count()

1095

In [62]:
sdfDateAll.printSchema()

root
 |-- date: string (nullable = true)

In [63]:
sdfDateAll.write.csv("/gl-capstone-data/Team6-C-Sep/Data/dateAllTemp.csv", header=True)

In [64]:
sdfDateAllReload = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/dateAllTemp.csv",header = True,inferSchema = True)

In [65]:
sdfDateAllReload.show()

+-------------------+
|               date|
+-------------------+
|2014-07-02 00:00:00|
|2014-07-03 00:00:00|
|2014-07-04 00:00:00|
|2014-07-05 00:00:00|
|2014-07-06 00:00:00|
|2014-07-07 00:00:00|
|2014-07-08 00:00:00|
|2014-07-09 00:00:00|
|2014-07-10 00:00:00|
|2014-07-11 00:00:00|
|2014-07-12 00:00:00|
|2014-07-13 00:00:00|
|2014-07-14 00:00:00|
|2014-07-15 00:00:00|
|2014-07-16 00:00:00|
|2014-07-17 00:00:00|
|2014-07-18 00:00:00|
|2014-07-19 00:00:00|
|2014-07-20 00:00:00|
|2014-07-21 00:00:00|
+-------------------+
only showing top 20 rows

In [66]:
sdfDateAllReload.printSchema()

root
 |-- date: timestamp (nullable = true)

In [67]:
sqlContext.registerDataFrameAsTable(sdfDateAllReload, "sdfDateAllTbl")

In [20]:
sdfTrain44 = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44.csv",header = True,inferSchema = True)

In [35]:
sdfTrain44.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- item_nbr: integer (nullable = true)
 |-- unit_sales: double (nullable = true)
 |-- onpromotion: boolean (nullable = true)

In [21]:
sqlContext.registerDataFrameAsTable(sdfTrain44, "sdfTrain44Tbl")

In [70]:
sdfTrainDates = sqlContext.sql("select * from sdfDateAllTbl where date not in (select date from sdfTrain44Tbl) order by 1")

In [71]:
sdfTrainDates.show()

+-------------------+
|               date|
+-------------------+
|2013-01-01 00:00:00|
|2013-12-25 00:00:00|
|2014-01-01 00:00:00|
|2014-12-25 00:00:00|
|2015-01-01 00:00:00|
|2015-12-25 00:00:00|
+-------------------+

In [72]:
sdfTrainDates.count()

6

In [73]:
sdfTransaction44 = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions_store44.csv",header = True,inferSchema = True)

In [74]:
sdfTransaction44.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- transactions: integer (nullable = true)

In [76]:
sdfTransaction44.show(10)

+-------------------+---------+------------+
|               date|store_nbr|transactions|
+-------------------+---------+------------+
|2013-01-02 00:00:00|       44|        4821|
|2013-01-03 00:00:00|       44|        3618|
|2013-01-04 00:00:00|       44|        4169|
|2013-01-05 00:00:00|       44|        4921|
|2013-01-06 00:00:00|       44|        4925|
|2013-01-07 00:00:00|       44|        3871|
|2013-01-08 00:00:00|       44|        3593|
|2013-01-09 00:00:00|       44|        4006|
|2013-01-10 00:00:00|       44|        3323|
|2013-01-11 00:00:00|       44|        3873|
+-------------------+---------+------------+
only showing top 10 rows

In [77]:
sqlContext.registerDataFrameAsTable(sdfTransaction44, "sdfTransaction44Tbl")

In [78]:
sdfTrainDates = sqlContext.sql("select * from sdfDateAllTbl where date not in (select date from sdfTransaction44Tbl) order by 1")

In [79]:
sdfTrainDates.show()

+-------------------+
|               date|
+-------------------+
|2013-01-01 00:00:00|
|2013-12-25 00:00:00|
|2014-01-01 00:00:00|
|2014-12-25 00:00:00|
|2015-01-01 00:00:00|
|2015-12-25 00:00:00|
+-------------------+

In [80]:
sdfTrainDates.count()

6