In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

<b>Check file #1 stores.csv</b>

In [2]:
sdfStores = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/stores.csv",header = True,inferSchema = True)

In [11]:
sdfStores.count()
#54 records are present when opened in excel.

54

In [4]:
sdfStores.describe().show()
#Count matches as seen below as well

+-------+------------------+-------------+----------+----+-----------------+
|summary|         store_nbr|         city|     state|type|          cluster|
+-------+------------------+-------------+----------+----+-----------------+
|  count|                54|           54|        54|  54|               54|
|   mean|              27.5|         null|      null|null|8.481481481481481|
| stddev|15.732132722552274|         null|      null|null|4.693394558396158|
|    min|                 1|       Ambato|     Azuay|   A|                1|
|    max|                54|Santo Domingo|Tungurahua|   E|               17|
+-------+------------------+-------------+----------+----+-----------------+

In [6]:
sdfStores.printSchema()

root
 |-- store_nbr: integer (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)
 |-- cluster: integer (nullable = true)

# First 5 rows by opening the file in windows:
# 1,Quito,Pichincha,D,13
# 2,Quito,Pichincha,D,13
# 3,Quito,Pichincha,D,8
# 4,Quito,Pichincha,D,9
# 5,Santo Domingo,Santo Domingo de los Tsachilas,D,4

In [7]:
# Verify that the same records are present in the file in HDFS:
print(sdfStores.show(5))

# First 5 lines are matching in windows and HDFS

+---------+-------------+--------------------+----+-------+
|store_nbr|         city|               state|type|cluster|
+---------+-------------+--------------------+----+-------+
|        1|        Quito|           Pichincha|   D|     13|
|        2|        Quito|           Pichincha|   D|     13|
|        3|        Quito|           Pichincha|   D|      8|
|        4|        Quito|           Pichincha|   D|      9|
|        5|Santo Domingo|Santo Domingo de ...|   D|      4|
+---------+-------------+--------------------+----+-------+
only showing top 5 rows

None

Last 5 rows by opening the file in windows:
49,Quito,Pichincha,A,11
50,Ambato,Tungurahua,A,14
51,Guayaquil,Guayas,A,17
52,Manta,Manabi,A,11
53,Manta,Manabi,D,13
54,El Carmen,Manabi,C,3

In [3]:
# Verify that the same records are present in the file in HDFS:
print(sdfStores.filter(sdfStores.store_nbr >= 49).show())

# Last 5 lines in windows are present in HDFS

+---------+---------+----------+----+-------+
|store_nbr|     city|     state|type|cluster|
+---------+---------+----------+----+-------+
|       49|    Quito| Pichincha|   A|     11|
|       50|   Ambato|Tungurahua|   A|     14|
|       51|Guayaquil|    Guayas|   A|     17|
|       52|    Manta|    Manabi|   A|     11|
|       53|    Manta|    Manabi|   D|     13|
|       54|El Carmen|    Manabi|   C|      3|
+---------+---------+----------+----+-------+

None

<b>Check file #2 oil.csv</b>

In [5]:
sdfOil = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/oil.csv",header = True,inferSchema = True)

In [6]:
sdfOil.count()
#1218 records are present when opened in excel.

1218

In [13]:
sdfOil.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- dcoilwtico: double (nullable = true)

First 5 rows by opening the file in windows:
2013-01-01,
2013-01-02,93.14
2013-01-03,92.97
2013-01-04,93.12
2013-01-07,93.2

In [14]:
# Verify that the same records are present in the file in HDFS:

print(sdfOil.show(5))
# First 5 lines are matching in windows and HDFS

+-------------------+----------+
|               date|dcoilwtico|
+-------------------+----------+
|2013-01-01 00:00:00|      null|
|2013-01-02 00:00:00|     93.14|
|2013-01-03 00:00:00|     92.97|
|2013-01-04 00:00:00|     93.12|
|2013-01-07 00:00:00|      93.2|
+-------------------+----------+
only showing top 5 rows

None

<b>Check file #3 holidays_events.csv</b>

In [5]:
sdfHolidayEvents = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/holidays_events.csv",header = True,inferSchema = True)

In [16]:
sdfHolidayEvents.count()
#350 records are present when opened in excel.

350

In [17]:
sdfHolidayEvents.describe().show()
#Count matches as seen below as well

+-------+----------+--------+--------------------+--------------------+
|summary|      type|  locale|         locale_name|         description|
+-------+----------+--------+--------------------+--------------------+
|  count|       350|     350|                 350|                 350|
|   mean|      null|    null|                null|                null|
| stddev|      null|    null|                null|                null|
|    min|Additional|   Local|              Ambato|Batalla de Pichincha|
|    max|  Work Day|Regional|Santo Domingo de ...|       Viernes Santo|
+-------+----------+--------+--------------------+--------------------+

In [18]:
sdfHolidayEvents.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- type: string (nullable = true)
 |-- locale: string (nullable = true)
 |-- locale_name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- transferred: boolean (nullable = true)

First 5 rows by opening the file in windows:
2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

In [19]:
# Verify that the same records are present in the file in HDFS:
print(sdfHolidayEvents.show(5))

# First 5 lines are matching in windows and HDFS

+-------------------+-------+--------+-----------+--------------------+-----------+
|               date|   type|  locale|locale_name|         description|transferred|
+-------------------+-------+--------+-----------+--------------------+-----------+
|2012-03-02 00:00:00|Holiday|   Local|      Manta|  Fundacion de Manta|      false|
|2012-04-01 00:00:00|Holiday|Regional|   Cotopaxi|Provincializacion...|      false|
|2012-04-12 00:00:00|Holiday|   Local|     Cuenca| Fundacion de Cuenca|      false|
|2012-04-14 00:00:00|Holiday|   Local|   Libertad|Cantonizacion de ...|      false|
|2012-04-21 00:00:00|Holiday|   Local|   Riobamba|Cantonizacion de ...|      false|
+-------------------+-------+--------+-----------+--------------------+-----------+
only showing top 5 rows

None

<b>Check file #4 items.csv</b>

In [6]:
sdfItems = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/items.csv",header = True,inferSchema = True)

In [21]:
sdfItems.count()
#4100 records are present when opened in excel.

4100

In [22]:
sdfItems.describe().show()
#Count matches as seen below as well

+-------+-----------------+----------+---------------+-------------------+
|summary|         item_nbr|    family|          class|         perishable|
+-------+-----------------+----------+---------------+-------------------+
|  count|             4100|      4100|           4100|               4100|
|   mean|1251436.312682927|      null|        2169.65|0.24048780487804877|
| stddev|587687.2203100388|      null|1484.9109001053|0.42743184376713605|
|    min|            96995|AUTOMOTIVE|           1002|                  0|
|    max|          2134244|   SEAFOOD|           7780|                  1|
+-------+-----------------+----------+---------------+-------------------+

In [23]:
sdfItems.printSchema()

root
 |-- item_nbr: integer (nullable = true)
 |-- family: string (nullable = true)
 |-- class: integer (nullable = true)
 |-- perishable: integer (nullable = true)

First 5 rows by opening the file in windows:
96995,GROCERY I,1093,0
99197,GROCERY I,1067,0
103501,CLEANING,3008,0
103520,GROCERY I,1028,0
103665,BREAD/BAKERY,2712,1

In [24]:
# Verify that the same records are present in the file in HDFS:
print(sdfItems.show(5))

# First 5 lines are matching in windows and HDFS

+--------+------------+-----+----------+
|item_nbr|      family|class|perishable|
+--------+------------+-----+----------+
|   96995|   GROCERY I| 1093|         0|
|   99197|   GROCERY I| 1067|         0|
|  103501|    CLEANING| 3008|         0|
|  103520|   GROCERY I| 1028|         0|
|  103665|BREAD/BAKERY| 2712|         1|
+--------+------------+-----+----------+
only showing top 5 rows

None

Last 5 rows by opening the file in windows:
2132318,GROCERY I,1002,0
2132945,GROCERY I,1026,0
2132957,GROCERY I,1068,0
2134058,BEVERAGES,1124,0
2134244,"LIQUOR,WINE,BEER",1364,0

In [7]:
# Verify that the same records are present in the file in HDFS:
print(sdfItems.filter(sdfItems.item_nbr >= 2132318).show())

# Last 5 lines in windows are present in HDFS

+--------+----------------+-----+----------+
|item_nbr|          family|class|perishable|
+--------+----------------+-----+----------+
| 2132318|       GROCERY I| 1002|         0|
| 2132945|       GROCERY I| 1026|         0|
| 2132957|       GROCERY I| 1068|         0|
| 2134058|       BEVERAGES| 1124|         0|
| 2134244|LIQUOR,WINE,BEER| 1364|         0|
+--------+----------------+-----+----------+

None

<b>Check file #5 transactions.csv</b>

In [8]:
sdfTransactions = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions.csv",header = True,inferSchema = True)

In [26]:
sdfTransactions.count()
#83488 records are present when opened in excel.

83488

In [27]:
sdfTransactions.describe().show()
#Count matches as seen below as well

+-------+------------------+------------------+
|summary|         store_nbr|      transactions|
+-------+------------------+------------------+
|  count|             83488|             83488|
|   mean|26.939236776542735|1694.6021583940208|
| stddev|15.608203645366135| 963.2866435167193|
|    min|                 1|                 5|
|    max|                54|              8359|
+-------+------------------+------------------+

In [28]:
sdfTransactions.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- transactions: integer (nullable = true)

First 5 rows by opening the file in windows:
2013-01-01,25,770
2013-01-02,1,2111
2013-01-02,2,2358
2013-01-02,3,3487
2013-01-02,4,1922

In [29]:
# Verify that the same records are present in the file in HDFS:
print(sdfTransactions.show(5))

# First 5 lines are matching in windows and HDFS

+-------------------+---------+------------+
|               date|store_nbr|transactions|
+-------------------+---------+------------+
|2013-01-01 00:00:00|       25|         770|
|2013-01-02 00:00:00|        1|        2111|
|2013-01-02 00:00:00|        2|        2358|
|2013-01-02 00:00:00|        3|        3487|
|2013-01-02 00:00:00|        4|        1922|
+-------------------+---------+------------+
only showing top 5 rows

None

<b>Check file #6 sample_submission.csv</b>

In [9]:
sdfSampleSubmission = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/sample_submission.csv",header = True,inferSchema = True)

In [31]:
sdfSampleSubmission.count()
#3370464 records are present when opened in Notepad++.

3370464

In [32]:
sdfSampleSubmission.describe().show()
#Count matches as seen below as well

+-------+-----------------+----------+
|summary|               id|unit_sales|
+-------+-----------------+----------+
|  count|          3370464|   3370464|
|   mean|    1.271822715E8|       0.0|
| stddev|972969.2931845216|       0.0|
|    min|        125497040|         0|
|    max|        128867503|         0|
+-------+-----------------+----------+

In [33]:
sdfSampleSubmission.printSchema()

root
 |-- id: integer (nullable = true)
 |-- unit_sales: integer (nullable = true)

First 5 rows by opening the file in windows:
125497040,0
125497041,0
125497042,0
125497043,0
125497044,0

In [34]:
# Verify that the same records are present in the file in HDFS:
print(sdfSampleSubmission.show(5))

# First 5 lines are matching in windows and HDFS

+---------+----------+
|       id|unit_sales|
+---------+----------+
|125497040|         0|
|125497041|         0|
|125497042|         0|
|125497043|         0|
|125497044|         0|
+---------+----------+
only showing top 5 rows

None

Last 5 rows by opening the file in windows:
128867499,0
128867500,0
128867501,0
128867502,0
128867503,0

In [10]:
# Verify that the same records are present in the file in HDFS:
print(sdfSampleSubmission.filter(sdfSampleSubmission.id >= 128867499).show())

# Last 5 lines in windows are present in HDFS

+---------+----------+
|       id|unit_sales|
+---------+----------+
|128867499|         0|
|128867500|         0|
|128867501|         0|
|128867502|         0|
|128867503|         0|
+---------+----------+

None

<b>Check file #7 test.csv</b>

In [11]:
sdfTest = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/test.csv",header = True,inferSchema = True)

In [36]:
sdfTest.count()
#3370464 records are present when opened in excel.

3370464

In [37]:
sdfTest.describe().show()
#Count matches as seen below as well

+-------+----------------+------------------+------------------+
|summary|              id|         store_nbr|          item_nbr|
+-------+----------------+------------------+------------------+
|  count|         3370464|           3370464|           3370464|
|   mean|   1.271822715E8|              27.5|1244798.2476288131|
| stddev|972969.293184528|15.585786433120868| 589836.2185152168|
|    min|       125497040|                 1|             96995|
|    max|       128867503|                54|           2134244|
+-------+----------------+------------------+------------------+

In [38]:
sdfTest.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- item_nbr: integer (nullable = true)
 |-- onpromotion: boolean (nullable = true)

First 5 rows by opening the file in windows:
125497040,2017-08-16,1,96995,False
125497041,2017-08-16,1,99197,False
125497042,2017-08-16,1,103501,False
125497043,2017-08-16,1,103520,False
125497044,2017-08-16,1,103665,False

In [39]:
# Verify that the same records are present in the file in HDFS:
print(sdfTest.show(5))

# First 5 lines are matching in windows and HDFS

+---------+-------------------+---------+--------+-----------+
|       id|               date|store_nbr|item_nbr|onpromotion|
+---------+-------------------+---------+--------+-----------+
|125497040|2017-08-16 00:00:00|        1|   96995|      false|
|125497041|2017-08-16 00:00:00|        1|   99197|      false|
|125497042|2017-08-16 00:00:00|        1|  103501|      false|
|125497043|2017-08-16 00:00:00|        1|  103520|      false|
|125497044|2017-08-16 00:00:00|        1|  103665|      false|
+---------+-------------------+---------+--------+-----------+
only showing top 5 rows

None

Last 5 rows by opening the file in windows:
128867499,2017-08-31,54,2132163,False
128867500,2017-08-31,54,2132318,False
128867501,2017-08-31,54,2132945,False
128867502,2017-08-31,54,2132957,False
128867503,2017-08-31,54,2134244,False

In [12]:
# Verify that the same records are present in the file in HDFS:
print(sdfTest.filter(sdfTest.id >= 128867499).show())

# Last 5 lines in windows are present in HDFS

+---------+-------------------+---------+--------+-----------+
|       id|               date|store_nbr|item_nbr|onpromotion|
+---------+-------------------+---------+--------+-----------+
|128867499|2017-08-31 00:00:00|       54| 2132163|      false|
|128867500|2017-08-31 00:00:00|       54| 2132318|      false|
|128867501|2017-08-31 00:00:00|       54| 2132945|      false|
|128867502|2017-08-31 00:00:00|       54| 2132957|      false|
|128867503|2017-08-31 00:00:00|       54| 2134244|      false|
+---------+-------------------+---------+--------+-----------+

None

<b>Check file #8 train.csv</b> <br/>

In [2]:
 sdfTrain = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train/train.csv",header = True,inferSchema = True)

In [3]:
# Count of lines by opening the file in windows using Powershell (excl header): 125497040
# Count of records in the dataframe                                           : 125497040
# The entire file has been successfully uploaded

sdfTrain.count()
#Count before 13-May: 49391194 (Entire file did not get uploaded)
#Count on 19-May: 125497040 (Entire file has been uploaded)

125497040

In [4]:
sdfTrain.createOrReplaceTempView("vwTrain")

In [3]:
sdfTrain.describe().show()

+-------+-------------------+------------------+-----------------+------------------+
|summary|                 id|         store_nbr|         item_nbr|        unit_sales|
+-------+-------------------+------------------+-----------------+------------------+
|  count|          125497040|         125497040|        125497040|         125497040|
|   mean|       6.27485195E7|27.464578025107205| 972769.152722598| 8.554865268438212|
| stddev|3.622787505758819E7| 16.33051030272046|520533.5986107415|23.605151809802148|
|    min|                  0|                 1|            96995|          -15372.0|
|    max|          125497039|                54|          2127114|           89440.0|
+-------+-------------------+------------------+-----------------+------------------+

In [5]:
sdfTrain.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- item_nbr: integer (nullable = true)
 |-- unit_sales: double (nullable = true)
 |-- onpromotion: boolean (nullable = true)

In [7]:
# First 5 rows by opening the file in windows:
# 0,2013-01-01,25,103665,7.0,
# 1,2013-01-01,25,105574,1.0,
# 2,2013-01-01,25,105575,2.0,
# 3,2013-01-01,25,108079,1.0,
# 4,2013-01-01,25,108701,1.0,

# Verify that the same records are present in the file in HDFS:
print(sdfTrain.show(5))

# First 5 lines are matching in windows and HDFS

+---+-------------------+---------+--------+----------+-----------+
| id|               date|store_nbr|item_nbr|unit_sales|onpromotion|
+---+-------------------+---------+--------+----------+-----------+
|  0|2013-01-01 00:00:00|       25|  103665|       7.0|       null|
|  1|2013-01-01 00:00:00|       25|  105574|       1.0|       null|
|  2|2013-01-01 00:00:00|       25|  105575|       2.0|       null|
|  3|2013-01-01 00:00:00|       25|  108079|       1.0|       null|
|  4|2013-01-01 00:00:00|       25|  108701|       1.0|       null|
+---+-------------------+---------+--------+----------+-----------+
only showing top 5 rows

None

In [8]:
# Last 5 rows by opening the file in windows:
# 125497035,2017-08-15,54,2089339,4.0,False
# 125497036,2017-08-15,54,2106464,1.0,True
# 125497037,2017-08-15,54,2110456,192.0,False
# 125497038,2017-08-15,54,2113914,198.0,True
# 125497039,2017-08-15,54,2116416,2.0,False

# Verify that the same records are present in the file in HDFS:
print(sdfTrain.filter(sdfTrain.id >= 125497035).show())

# The last records which are present in windows are not present in HDFS

+---------+-------------------+---------+--------+----------+-----------+
|       id|               date|store_nbr|item_nbr|unit_sales|onpromotion|
+---------+-------------------+---------+--------+----------+-----------+
|125497035|2017-08-15 00:00:00|       54| 2089339|       4.0|      false|
|125497036|2017-08-15 00:00:00|       54| 2106464|       1.0|       true|
|125497037|2017-08-15 00:00:00|       54| 2110456|     192.0|      false|
|125497038|2017-08-15 00:00:00|       54| 2113914|     198.0|       true|
|125497039|2017-08-15 00:00:00|       54| 2116416|       2.0|      false|
+---------+-------------------+---------+--------+----------+-----------+

None

In [11]:
sparkSession.sql('select max(id) from vwTrain').show()
# Max id in windows is 125497039
# Max id in HDFS    is  49391192 which is far less than what is present in windows
# So it can be seen that the full file has not been uploaded to HDFS due to space constraints
# We have requested admin to increase the space

+--------+
| max(id)|
+--------+
|49391192|
+--------+