In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col

In [2]:
sdfTrain = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44_with_items.csv",header = True,inferSchema = True)

In [4]:
sdfTrain.count()

1913387

In [5]:
print(sdfTrain.show(5))

+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|item_nbr|   id|               date|store_nbr|unit_sales|onpromotion|      family|class|perishable|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|  103520|32292|2013-01-02 00:00:00|       44|      12.0|       null|   GROCERY I| 1028|         0|
|  103665|32293|2013-01-02 00:00:00|       44|      20.0|       null|BREAD/BAKERY| 2712|         1|
|  105574|32294|2013-01-02 00:00:00|       44|      51.0|       null|   GROCERY I| 1045|         0|
|  105575|32295|2013-01-02 00:00:00|       44|      74.0|       null|   GROCERY I| 1045|         0|
|  105577|32296|2013-01-02 00:00:00|       44|      23.0|       null|   GROCERY I| 1045|         0|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
only showing top 5 rows

None

In [8]:
sqlContext.registerDataFrameAsTable(sdfTrain, "sdfTrainTbl")

<b><u>Consider the relationship between Train and Transactions:</u></b>

In [9]:
sdfTransactions = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions_store44.csv",header = True,inferSchema = True)

In [10]:
sdfTransactions.count()

1089

In [7]:
sqlContext.registerDataFrameAsTable(sdfTransactions, "sdfTransactionsTbl")

In [18]:
sdfTransactions1 = sqlContext.sql("select *  from sdfTransactionsTbl where date = '2013-01-03'")
sdfTransactions1.show()

+-------------------+---------+------------+
|               date|store_nbr|transactions|
+-------------------+---------+------------+
|2013-01-03 00:00:00|       44|        3618|
+-------------------+---------+------------+

In [19]:
sdfTrain1 = sqlContext.sql("select *  from sdfTrainTbl where date = '2013-01-03'")
sdfTrain1.show()

+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|item_nbr|   id|               date|store_nbr|unit_sales|onpromotion|      family|class|perishable|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|  103520|72723|2013-01-03 00:00:00|       44|       9.0|       null|   GROCERY I| 1028|         0|
|  103665|72724|2013-01-03 00:00:00|       44|       3.0|       null|BREAD/BAKERY| 2712|         1|
|  105574|72725|2013-01-03 00:00:00|       44|      43.0|       null|   GROCERY I| 1045|         0|
|  105575|72726|2013-01-03 00:00:00|       44|      32.0|       null|   GROCERY I| 1045|         0|
|  105577|72727|2013-01-03 00:00:00|       44|       4.0|       null|   GROCERY I| 1045|         0|
|  105693|72728|2013-01-03 00:00:00|       44|       4.0|       null|   GROCERY I| 1034|         0|
|  105737|72729|2013-01-03 00:00:00|       44|       5.0|       null|   GROCERY I| 1044|         0|
|  105857|72730|2013-01-03 00:00:00|       44|      33.0|       null|   GROCERY I| 1092|         0|
|  106716|72731|2013-01-03 00:00:00|       44|       8.0|       null|   GROCERY I| 1032|         0|
|  108696|72732|2013-01-03 00:00:00|       44|       6.0|       null|        DELI| 2636|         1|
|  108698|72733|2013-01-03 00:00:00|       44|       3.0|       null|        DELI| 2644|         1|
|  108786|72734|2013-01-03 00:00:00|       44|       4.0|       null|    CLEANING| 3044|         0|
|  108797|72735|2013-01-03 00:00:00|       44|      22.0|       null|   GROCERY I| 1004|         0|
|  108831|72736|2013-01-03 00:00:00|       44|    99.162|       null|     POULTRY| 2416|         1|
|  108862|72737|2013-01-03 00:00:00|       44|      10.0|       null|   GROCERY I| 1062|         0|
|  108952|72738|2013-01-03 00:00:00|       44|      11.0|       null|    CLEANING| 3024|         0|
|  111223|72739|2013-01-03 00:00:00|       44|       1.0|       null|   GROCERY I| 1034|         0|
|  112830|72740|2013-01-03 00:00:00|       44|      21.0|       null|   GROCERY I| 1044|         0|
|  114778|72741|2013-01-03 00:00:00|       44|      25.0|       null|   GROCERY I| 1016|         0|
|  114790|72742|2013-01-03 00:00:00|       44|      28.0|       null|   GROCERY I| 1004|         0|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
only showing top 20 rows

In [20]:
sdfTrain1.count()

1221

In [21]:
sdfTransactions2 = sqlContext.sql("select *  from sdfTransactionsTbl where date = '2013-01-04'")
sdfTransactions2.show()

+-------------------+---------+------------+
|               date|store_nbr|transactions|
+-------------------+---------+------------+
|2013-01-04 00:00:00|       44|        4169|
+-------------------+---------+------------+

In [22]:
sdfTrain2 = sqlContext.sql("select *  from sdfTrainTbl where date = '2013-01-04'")
sdfTrain2.show()

+--------+------+-------------------+---------+----------+-----------+------------+-----+----------+
|item_nbr|    id|               date|store_nbr|unit_sales|onpromotion|      family|class|perishable|
+--------+------+-------------------+---------+----------+-----------+------------+-----+----------+
|  103520|112569|2013-01-04 00:00:00|       44|      11.0|       null|   GROCERY I| 1028|         0|
|  103665|112570|2013-01-04 00:00:00|       44|       2.0|       null|BREAD/BAKERY| 2712|         1|
|  105574|112571|2013-01-04 00:00:00|       44|      28.0|       null|   GROCERY I| 1045|         0|
|  105575|112572|2013-01-04 00:00:00|       44|      32.0|       null|   GROCERY I| 1045|         0|
|  105577|112573|2013-01-04 00:00:00|       44|      12.0|       null|   GROCERY I| 1045|         0|
|  105693|112574|2013-01-04 00:00:00|       44|       2.0|       null|   GROCERY I| 1034|         0|
|  105737|112575|2013-01-04 00:00:00|       44|       8.0|       null|   GROCERY I| 1044|         0|
|  105857|112576|2013-01-04 00:00:00|       44|      34.0|       null|   GROCERY I| 1092|         0|
|  106716|112577|2013-01-04 00:00:00|       44|       5.0|       null|   GROCERY I| 1032|         0|
|  108696|112578|2013-01-04 00:00:00|       44|       3.0|       null|        DELI| 2636|         1|
|  108698|112579|2013-01-04 00:00:00|       44|       5.0|       null|        DELI| 2644|         1|
|  108786|112580|2013-01-04 00:00:00|       44|      13.0|       null|    CLEANING| 3044|         0|
|  108797|112581|2013-01-04 00:00:00|       44|      15.0|       null|   GROCERY I| 1004|         0|
|  108831|112582|2013-01-04 00:00:00|       44|   124.576|       null|     POULTRY| 2416|         1|
|  108862|112583|2013-01-04 00:00:00|       44|       8.0|       null|   GROCERY I| 1062|         0|
|  108952|112584|2013-01-04 00:00:00|       44|       7.0|       null|    CLEANING| 3024|         0|
|  111223|112585|2013-01-04 00:00:00|       44|      28.0|       null|   GROCERY I| 1034|         0|
|  112830|112586|2013-01-04 00:00:00|       44|      12.0|       null|   GROCERY I| 1044|         0|
|  114778|112587|2013-01-04 00:00:00|       44|       3.0|       null|   GROCERY I| 1016|         0|
|  114790|112588|2013-01-04 00:00:00|       44|      31.0|       null|   GROCERY I| 1004|         0|
+--------+------+-------------------+---------+----------+-----------+------------+-----+----------+
only showing top 20 rows

In [23]:
sdfTrain2.count()

1239

<font color='red'>Joining tables <b>Train</b> and <b>Transactions</b> does not give any meaning since:<br/>
Train contain <b>item level</b> sales data on a daily basis.<br/>
Transactions contains total number of transactions per day on a daily basis and applies to all items sold.<br/>
Joining may be useful only if total number of transactions is available at the item level.
</font>

<b><u>Consider the relationship between Train and Oil:</u></b>

In [31]:
sdfOil = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/oil_2013_2015.csv",header = True,inferSchema = True)

In [32]:
sqlContext.registerDataFrameAsTable(sdfOil, "sdfOilTbl")

In [33]:
sdfOil1 = sqlContext.sql("select *  from sdfOilTbl where date = '2013-01-04'")
sdfOil1.show()

+-------------------+----------+
|               date|dcoilwtico|
+-------------------+----------+
|2013-01-04 00:00:00|     93.12|
+-------------------+----------+

In [34]:
sdfTrainWithOil = sdfTrain.join(sdfOil, ["date"])

In [35]:
print(sdfTrainWithOil.show(20))

+-------------------+--------+-----+---------+----------+-----------+------------+-----+----------+----------+
|               date|item_nbr|   id|store_nbr|unit_sales|onpromotion|      family|class|perishable|dcoilwtico|
+-------------------+--------+-----+---------+----------+-----------+------------+-----+----------+----------+
|2013-01-02 00:00:00|  103520|32292|       44|      12.0|       null|   GROCERY I| 1028|         0|     93.14|
|2013-01-02 00:00:00|  103665|32293|       44|      20.0|       null|BREAD/BAKERY| 2712|         1|     93.14|
|2013-01-02 00:00:00|  105574|32294|       44|      51.0|       null|   GROCERY I| 1045|         0|     93.14|
|2013-01-02 00:00:00|  105575|32295|       44|      74.0|       null|   GROCERY I| 1045|         0|     93.14|
|2013-01-02 00:00:00|  105577|32296|       44|      23.0|       null|   GROCERY I| 1045|         0|     93.14|
|2013-01-02 00:00:00|  105693|32297|       44|       4.0|       null|   GROCERY I| 1034|         0|     93.14|
|2013-01-02 00:00:00|  105737|32298|       44|      45.0|       null|   GROCERY I| 1044|         0|     93.14|
|2013-01-02 00:00:00|  105857|32299|       44|      57.0|       null|   GROCERY I| 1092|         0|     93.14|
|2013-01-02 00:00:00|  106716|32300|       44|       7.0|       null|   GROCERY I| 1032|         0|     93.14|
|2013-01-02 00:00:00|  108079|32301|       44|       5.0|       null|   GROCERY I| 1030|         0|     93.14|
|2013-01-02 00:00:00|  108696|32302|       44|       6.0|       null|        DELI| 2636|         1|     93.14|
|2013-01-02 00:00:00|  108698|32303|       44|       5.0|       null|        DELI| 2644|         1|     93.14|
|2013-01-02 00:00:00|  108786|32304|       44|      10.0|       null|    CLEANING| 3044|         0|     93.14|
|2013-01-02 00:00:00|  108797|32305|       44|      35.0|       null|   GROCERY I| 1004|         0|     93.14|
|2013-01-02 00:00:00|  108831|32306|       44|   151.835|       null|     POULTRY| 2416|         1|     93.14|
|2013-01-02 00:00:00|  108862|32307|       44|       6.0|       null|   GROCERY I| 1062|         0|     93.14|
|2013-01-02 00:00:00|  108952|32308|       44|       9.0|       null|    CLEANING| 3024|         0|     93.14|
|2013-01-02 00:00:00|  111223|32309|       44|      27.0|       null|   GROCERY I| 1034|         0|     93.14|
|2013-01-02 00:00:00|  112830|32310|       44|      36.0|       null|   GROCERY I| 1044|         0|     93.14|
|2013-01-02 00:00:00|  114778|32311|       44|      20.0|       null|   GROCERY I| 1016|         0|     93.14|
+-------------------+--------+-----+---------+----------+-----------+------------+-----+----------+----------+
only showing top 20 rows

None

In [36]:
sdfTrainWithOil.count()

1349777

Train has a count of 19,13,387. After joining with Oil, it lost 5,63,610 records.

In [42]:
minRow = sdfOil.agg({"date": "min"}).collect()[0]
print minRow["min(date)"]

2013-01-01 00:00:00

In [38]:
maxRow = sdfOil.agg({"date": "max"}).collect()[0]
print maxRow["max(date)"]

2015-12-31 00:00:00

In [49]:
print( maxRow["max(date)"] - minRow["min(date)"])

1094 days, 0:00:00

In [51]:
sdfOil.count()

783

In [52]:
print("Data is missing for days: ", 1094-783)

('Data is missing for days: ', 311)

<font color='red'>It will make sense to join Train and Oil only after Oil is filled with data for missing days.</font>

<b><u>Consider the relationship between Train and Holiday_events:</u></b>

In [3]:
sdfHolidayEvents = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/holidays_events_2013_2015.csv",header = True,inferSchema = True)

In [5]:
sdfHolidayEvents.show(5)

+-------------------+--------+--------+-----------+--------------------+-----------+
|               date|    type|  locale|locale_name|         description|transferred|
+-------------------+--------+--------+-----------+--------------------+-----------+
|2013-01-01 00:00:00| Holiday|National|    Ecuador|  Primer dia del ano|      false|
|2013-01-05 00:00:00|Work Day|National|    Ecuador|Recupero puente N...|      false|
|2013-01-12 00:00:00|Work Day|National|    Ecuador|Recupero puente p...|      false|
|2013-02-11 00:00:00| Holiday|National|    Ecuador|            Carnaval|      false|
|2013-02-12 00:00:00| Holiday|National|    Ecuador|            Carnaval|      false|
+-------------------+--------+--------+-----------+--------------------+-----------+
only showing top 5 rows

In [4]:
sqlContext.registerDataFrameAsTable(sdfHolidayEvents, "sdfHolidayEventsTbl")

In [6]:
sdfHolidayEvents1 = sqlContext.sql("select date, count(*) from sdfHolidayEventsTbl group by date order by 2 desc")
sdfHolidayEvents1.show()

+-------------------+--------+
|               date|count(1)|
+-------------------+--------+
|2014-06-25 00:00:00|       4|
|2013-06-25 00:00:00|       3|
|2015-06-25 00:00:00|       3|
|2013-07-03 00:00:00|       2|
|2014-12-22 00:00:00|       2|
|2015-07-03 00:00:00|       2|
|2013-12-22 00:00:00|       2|
|2014-12-26 00:00:00|       2|
|2015-12-22 00:00:00|       2|
|2014-07-03 00:00:00|       2|
|2013-05-12 00:00:00|       2|
|2014-08-15 00:00:00|       1|
|2013-04-01 00:00:00|       1|
|2013-10-11 00:00:00|       1|
|2013-09-28 00:00:00|       1|
|2013-08-05 00:00:00|       1|
|2015-03-02 00:00:00|       1|
|2013-08-24 00:00:00|       1|
|2015-11-06 00:00:00|       1|
|2014-07-09 00:00:00|       1|
+-------------------+--------+
only showing top 20 rows

In [13]:
sdfHolidayEvents2 = sqlContext.sql("select * from sdfHolidayEventsTbl where date in ('2014-06-25 00:00:00', '2013-06-25 00:00:00', '2015-06-25 00:00:00', '2013-07-03 00:00:00') order by date")
sdfHolidayEvents2.show()

+-------------------+-------+--------+-------------+--------------------+-----------+
|               date|   type|  locale|  locale_name|         description|transferred|
+-------------------+-------+--------+-------------+--------------------+-----------+
|2013-06-25 00:00:00|Holiday|   Local|      Machala|Fundacion de Machala|      false|
|2013-06-25 00:00:00|Holiday|Regional|     Imbabura|Provincializacion...|      false|
|2013-06-25 00:00:00|Holiday|   Local|    Latacunga|Cantonizacion de ...|      false|
|2013-07-03 00:00:00|Holiday|   Local|    El Carmen|Cantonizacion de ...|      false|
|2013-07-03 00:00:00|Holiday|   Local|Santo Domingo|Fundacion de Sant...|      false|
|2014-06-25 00:00:00|  Event|National|      Ecuador|Mundial de futbol...|      false|
|2014-06-25 00:00:00|Holiday|   Local|    Latacunga|Cantonizacion de ...|      false|
|2014-06-25 00:00:00|Holiday|   Local|      Machala|Fundacion de Machala|      false|
|2014-06-25 00:00:00|Holiday|Regional|     Imbabura|Provincializacion...|      false|
|2015-06-25 00:00:00|Holiday|   Local|      Machala|Fundacion de Machala|      false|
|2015-06-25 00:00:00|Holiday|Regional|     Imbabura|Provincializacion...|      false|
|2015-06-25 00:00:00|Holiday|   Local|    Latacunga|Cantonizacion de ...|      false|
+-------------------+-------+--------+-------------+--------------------+-----------+

<font color='red'>
If we simply join Holiday_events to Train, it will increase the number of records in Train because there are multiple holiday records for the same date.<br/>
On the other hand, if we want to delete all but one holiday records (in cased of multiples), we do not know on what basis the records will be deleted.<br/>
Further, we do not know which locale store 44 is present in.
This presents a complicated case.
</font>