<b>Create a subset of transactions table having data for store 44 for the years 2013 to 2015 <br/>
transactions_store44.csv is the csv file for the created table</b>

In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col

In [2]:
sdfTransactions = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions.csv",header = True,inferSchema = True)

In [4]:
sdfTransactions.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- transactions: integer (nullable = true)

In [3]:
sdfTransactions.count()

83488

In [5]:
sqlContext.registerDataFrameAsTable(sdfTransactions, "sdfTransactionsTbl")

In [6]:
sdfTransactions44 = sqlContext.sql("select *  from sdfTransactionsTbl where store_nbr = 44 and date < '2016-01-01 00:00:00'")

In [7]:
sdfTransactions44.count()

1089

In [8]:
sdfTransactions44.show(5)

+-------------------+---------+------------+
|               date|store_nbr|transactions|
+-------------------+---------+------------+
|2013-01-02 00:00:00|       44|        4821|
|2013-01-03 00:00:00|       44|        3618|
|2013-01-04 00:00:00|       44|        4169|
|2013-01-05 00:00:00|       44|        4921|
|2013-01-06 00:00:00|       44|        4925|
+-------------------+---------+------------+
only showing top 5 rows

In [9]:
sdfTransactions44.write.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions_store44.csv", header=True)

In [10]:
sdfTransactions44Reload = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions_store44.csv",header = True,inferSchema = True)

In [11]:
sdfTransactions44Reload.count()

1089

In [12]:
sdfTransactions44Reload.printSchema()

root
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- transactions: integer (nullable = true)

In [13]:
print(sdfTransactions44Reload.show(5))

+-------------------+---------+------------+
|               date|store_nbr|transactions|
+-------------------+---------+------------+
|2013-01-02 00:00:00|       44|        4821|
|2013-01-03 00:00:00|       44|        3618|
|2013-01-04 00:00:00|       44|        4169|
|2013-01-05 00:00:00|       44|        4921|
|2013-01-06 00:00:00|       44|        4925|
+-------------------+---------+------------+
only showing top 5 rows

None