<b>Create a subset of train table having data for store 44 for the years 2013 to 2015 <br/>
train_store44.csv is the csv file for the created table</b>

In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col

In [3]:
sdfTrain = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train/train.csv",header = True,inferSchema = True)

In [4]:
sdfTrain.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- item_nbr: integer (nullable = true)
 |-- unit_sales: double (nullable = true)
 |-- onpromotion: boolean (nullable = true)

In [5]:
sdfTrain.count()

125497040

In [6]:
sqlContext.registerDataFrameAsTable(sdfTrain, "sdfTrainTbl")

In [7]:
sdfTrain44 = sqlContext.sql("select *  from sdfTrainTbl where store_nbr = 44 and date < '2016-01-01 00:00:00'")

In [8]:
sdfTrain44.count()

1913387

In [9]:
sdfTrain44.show(5)

+-----+-------------------+---------+--------+----------+-----------+
|   id|               date|store_nbr|item_nbr|unit_sales|onpromotion|
+-----+-------------------+---------+--------+----------+-----------+
|32292|2013-01-02 00:00:00|       44|  103520|      12.0|       null|
|32293|2013-01-02 00:00:00|       44|  103665|      20.0|       null|
|32294|2013-01-02 00:00:00|       44|  105574|      51.0|       null|
|32295|2013-01-02 00:00:00|       44|  105575|      74.0|       null|
|32296|2013-01-02 00:00:00|       44|  105577|      23.0|       null|
+-----+-------------------+---------+--------+----------+-----------+
only showing top 5 rows

In [10]:
sdfTrain44.write.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44.csv", header=True)

In [11]:
sdfTrain44Reload = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44.csv",header = True,inferSchema = True)

In [12]:
sdfTrain44Reload.count()

1913387

In [13]:
sdfTrain44Reload.printSchema()

root
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- item_nbr: integer (nullable = true)
 |-- unit_sales: double (nullable = true)
 |-- onpromotion: boolean (nullable = true)

In [14]:
print(sdfTrain44Reload.show(5))

+-----+-------------------+---------+--------+----------+-----------+
|   id|               date|store_nbr|item_nbr|unit_sales|onpromotion|
+-----+-------------------+---------+--------+----------+-----------+
|32292|2013-01-02 00:00:00|       44|  103520|      12.0|       null|
|32293|2013-01-02 00:00:00|       44|  103665|      20.0|       null|
|32294|2013-01-02 00:00:00|       44|  105574|      51.0|       null|
|32295|2013-01-02 00:00:00|       44|  105575|      74.0|       null|
|32296|2013-01-02 00:00:00|       44|  105577|      23.0|       null|
+-----+-------------------+---------+--------+----------+-----------+
only showing top 5 rows

None