In [1]:
# For Spark
from pyspark.sql import  SparkSession
from pyspark import SparkContext
from pyspark.sql.types import *
from pyspark import SQLContext
import matplotlib.pyplot as plt

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col
from pyspark.sql.functions import year, month, dayofmonth

In [5]:
# Create Spark Context and SQL Context
sc = SparkContext()
sqlContext = SQLContext(sc)

In [6]:
full_train_data = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train",header = True,inferSchema = True)

In [7]:
jan_2016_item_data =  full_train_data.filter(col('store_nbr') == 44).filter(year(col('date')) == 2016).filter(month(col('date')) == 1)
jan_2016_item_data_pd = jan_2016_item_data.toPandas()

In [8]:
jan_2016_item_data_pd = jan_2016_item_data_pd.drop(['store_nbr'], axis=1)
jan_2016_item_data_pd.set_index('date')
jan_2016_item_data_pd.head()

         id       date  item_nbr  unit_sales  onpromotion
0  66538108 2016-01-02    103520         8.0        False
1  66538109 2016-01-02    103665        11.0        False
2  66538110 2016-01-02    105574        22.0        False
3  66538111 2016-01-02    105575        47.0        False
4  66538112 2016-01-02    105577         1.0        False

In [10]:
import pandas as pd
jan_2016_item_data_pd['date'] = pd.to_datetime(jan_2016_item_data_pd['date'], format='%b %d, %Y')
jan_2016_item_data_pd.index = pd.to_datetime(jan_2016_item_data_pd['date'])
jan_2016_item_data_pd = jan_2016_item_data_pd.drop(['id', 'date', 'onpromotion'], axis = 1)
jan_2016_item_data_pd.head()

            item_nbr  unit_sales
date
2016-01-02    103520         8.0
2016-01-02    103665        11.0
2016-01-02    105574        22.0
2016-01-02    105575        47.0
2016-01-02    105577         1.0

In [11]:
jan_2016_item_data_pd.to_csv('train_item_44_jan2016.csv')