<b>Create a subset of train table having data for store 44 for the years 2013 to 2015 <br/>
train_store44.csv is the csv file for the created table</b>

In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col

In [2]:
sdfTrain44 = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44.csv",header = True,inferSchema = True)

In [9]:
print(sdfTrain44.show(5))

+-----+-------------------+---------+--------+----------+-----------+
|   id|               date|store_nbr|item_nbr|unit_sales|onpromotion|
+-----+-------------------+---------+--------+----------+-----------+
|32292|2013-01-02 00:00:00|       44|  103520|      12.0|       null|
|32293|2013-01-02 00:00:00|       44|  103665|      20.0|       null|
|32294|2013-01-02 00:00:00|       44|  105574|      51.0|       null|
|32295|2013-01-02 00:00:00|       44|  105575|      74.0|       null|
|32296|2013-01-02 00:00:00|       44|  105577|      23.0|       null|
+-----+-------------------+---------+--------+----------+-----------+
only showing top 5 rows

None

In [7]:
sdfTrain44.count()

1913387

In [5]:
sdfItems = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/items_store44_2013_2015.csv",header = True,inferSchema = True)

In [10]:
print(sdfItems.show(5))

+--------+------------+-----+----------+
|item_nbr|      family|class|perishable|
+--------+------------+-----+----------+
|  169028|   GROCERY I| 1040|         0|
|  269084|BREAD/BAKERY| 2720|         1|
|  368628|   BEVERAGES| 1122|         0|
|  517909|        DELI| 2690|         1|
|  587069|   GROCERY I| 1004|         0|
+--------+------------+-----+----------+
only showing top 5 rows

None

In [8]:
sdfItems.count()

3104

In [11]:
sdfTrain44WithItems = sdfTrain44.join(sdfItems, ["item_nbr"])

In [12]:
print(sdfTrain44WithItems.show(5))

+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|item_nbr|   id|               date|store_nbr|unit_sales|onpromotion|      family|class|perishable|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|  103520|32292|2013-01-02 00:00:00|       44|      12.0|       null|   GROCERY I| 1028|         0|
|  103665|32293|2013-01-02 00:00:00|       44|      20.0|       null|BREAD/BAKERY| 2712|         1|
|  105574|32294|2013-01-02 00:00:00|       44|      51.0|       null|   GROCERY I| 1045|         0|
|  105575|32295|2013-01-02 00:00:00|       44|      74.0|       null|   GROCERY I| 1045|         0|
|  105577|32296|2013-01-02 00:00:00|       44|      23.0|       null|   GROCERY I| 1045|         0|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
only showing top 5 rows

None

In [13]:
sdfTrain44WithItems.count()

1913387

In [14]:
sdfTrain44WithItems.write.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44_with_items.csv", header=True)

In [15]:
sdfTrain44WithItemsReload = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train_store44_with_items.csv",header = True,inferSchema = True)

In [16]:
sdfTrain44WithItemsReload.count()

1913387

In [17]:
sdfTrain44WithItemsReload.printSchema()

root
 |-- item_nbr: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- store_nbr: integer (nullable = true)
 |-- unit_sales: double (nullable = true)
 |-- onpromotion: boolean (nullable = true)
 |-- family: string (nullable = true)
 |-- class: integer (nullable = true)
 |-- perishable: integer (nullable = true)

In [18]:
print(sdfTrain44WithItemsReload.show(5))

+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|item_nbr|   id|               date|store_nbr|unit_sales|onpromotion|      family|class|perishable|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
|  103520|32292|2013-01-02 00:00:00|       44|      12.0|       null|   GROCERY I| 1028|         0|
|  103665|32293|2013-01-02 00:00:00|       44|      20.0|       null|BREAD/BAKERY| 2712|         1|
|  105574|32294|2013-01-02 00:00:00|       44|      51.0|       null|   GROCERY I| 1045|         0|
|  105575|32295|2013-01-02 00:00:00|       44|      74.0|       null|   GROCERY I| 1045|         0|
|  105577|32296|2013-01-02 00:00:00|       44|      23.0|       null|   GROCERY I| 1045|         0|
+--------+-----+-------------------+---------+----------+-----------+------------+-----+----------+
only showing top 5 rows

None