In [1]:
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sqlContext = SQLContext(sc)
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.getOrCreate()

from pyspark.sql.functions import col, countDistinct
from pyspark.sql.functions import isnan, when, count, col


import matplotlib as plot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from __future__ import division

In [2]:
sdfTransactions = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/transactions.csv",header = True,inferSchema = True)

In [3]:
sqlContext.registerDataFrameAsTable(sdfTransactions, "sdfTransactionsTbl")

In [4]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date < '2014-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)
#Stores with top transactions in the year 2013

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1493932|
|       47|        1376187|
|       46|        1304989|
|       45|        1292359|
|        3|        1141431|
|       48|        1089317|
|        8|        1013479|
|       50|         972039|
|       11|         893998|
|       34|         891297|
+---------+---------------+
only showing top 10 rows

In [5]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date < '2014-01-01 00:00:00' and store_nbr in (44,45,46,47) group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       44|                  363|
|       47|                  363|
|       45|                  363|
|       46|                  363|
+---------+---------------------+

In [13]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date < '2014-01-01 00:00:00' group by store_nbr order by 2 desc").show(5)
#Stores 44,45,46,47 had transactions on 363 days while there are other stores that had one day mode in the year 2013
#This exploratin is done only for our awareness and may not have much impact on any other processing or prediction.

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       25|                  364|
|       44|                  363|
|       34|                  363|
|       28|                  363|
|       26|                  363|
+---------+---------------------+
only showing top 5 rows

In [7]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)
#Stores with top transactions in the year 2014

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1622607|
|       47|        1447939|
|       45|        1370575|
|       46|        1344446|
|       48|        1168208|
|        3|        1166136|
|        8|        1029991|
|       50|         973035|
|       49|         949515|
|       34|         898376|
+---------+---------------+
only showing top 10 rows

In [6]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' and store_nbr in (44,45,46,47) group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       44|                  363|
|       47|                  363|
|       45|                  363|
|       46|                  363|
+---------+---------------------+

In [12]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' group by store_nbr order by 2 desc").show(5)
#Stores 44,45,46,47 had transactions on 363 days while there are other stores that had one day mode in the year 2014
#This exploratin is done only for our awareness and may not have much impact on any other processing or prediction.

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       36|                  364|
|       44|                  363|
|       31|                  363|
|       34|                  363|
|       28|                  363|
+---------+---------------------+
only showing top 5 rows

In [9]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)
#Stores with top transactions in the year 2015

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1593523|
|       47|        1430126|
|       45|        1337679|
|       46|        1311670|
|        3|        1175267|
|       48|        1128070|
|       49|        1054872|
|        8|        1002385|
|       50|         953655|
|       24|         843558|
+---------+---------------+
only showing top 10 rows

In [7]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' and store_nbr in (44,45,46,47) group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       44|                  363|
|       47|                  363|
|       45|                  363|
|       46|                  363|
+---------+---------------------+

In [11]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' group by store_nbr order by 2 desc").show(5)
#Stores 44,45,46,47 had transactions on 363 days while there are other stores that had one day more in the year 2015
#This exploratin is done only for our awareness and may not have much impact on any other processing or prediction.

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       25|                  364|
|       27|                  363|
|       53|                  363|
|       34|                  363|
|       28|                  363|
+---------+---------------------+
only showing top 5 rows

In [11]:
sqlContext.sql("select store_nbr, sum(transactions) as transactionssum  from sdfTransactionsTbl where date >= '2016-01-01 00:00:00' and date < '2017-01-01 00:00:00' group by store_nbr order by 2 desc").show(10)
#Stores with top transactions in the year 2016

+---------+---------------+
|store_nbr|transactionssum|
+---------+---------------+
|       44|        1574685|
|       47|        1402767|
|       45|        1333314|
|       46|        1233791|
|        3|        1164208|
|       49|        1090042|
|       48|        1056809|
|        8|         980025|
|       50|         893879|
|       11|         829133|
+---------+---------------+
only showing top 10 rows

In [8]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2016-01-01 00:00:00' and date < '2017-01-01 00:00:00' and store_nbr in (44,45,46,47)  group by store_nbr order by 2 desc").show(10)

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       44|                  362|
|       47|                  362|
|       45|                  362|
|       46|                  362|
+---------+---------------------+

In [10]:
sqlContext.sql("select store_nbr, count(transactions) as transactionsdayscount from sdfTransactionsTbl where date >= '2016-01-01 00:00:00' and date < '2017-01-01 00:00:00' group by store_nbr order by 2 desc").show(5)
#Stores 44,45,46,47 had transactions on 362 days while there are other stores that had one day more in the year 2016
#This exploratin is done only for our awareness and may not have much impact on any other processing or prediction.

+---------+---------------------+
|store_nbr|transactionsdayscount|
+---------+---------------------+
|       39|                  363|
|       37|                  363|
|       34|                  363|
|       31|                  363|
|       26|                  363|
+---------+---------------------+
only showing top 5 rows

From all the above, it can be seen that stores 44 and 47 have high sum of transactions and also the total number of days of transaction.

In [21]:
txnRecCountForStore = sdfTransactions.filter(sdfTransactions.store_nbr == 44).count()

In [22]:
txnRecCountForStore

1677

In [24]:
percentageRecs = (txnRecCountForStore / sdfTransactions.count()) * 100
print("Percent of records in transactions table for store 44 : " + str(percentageRecs))

Percent of records in transactions table for store 44 : 2.00867190494

In [15]:
sdfTrain = sqlContext.read.csv("/gl-capstone-data/Team6-C-Sep/Data/train/train.csv",header = True,inferSchema = True)

In [16]:
sqlContext.registerDataFrameAsTable(sdfTrain, "sdfTrainTbl")

In [13]:
sqlContext.sql("select count(distinct(item_nbr)) from sdfTrainTbl where date < '2014-01-01 00:00:00' and store_nbr = 44").show()
#There is a good number of items that are sold in store 44 in the year 2013.

+------------------------+
|count(DISTINCT item_nbr)|
+------------------------+
|                    1758|
+------------------------+

In [5]:
sqlContext.sql("select count(*) from sdfTrainTbl where date < '2014-01-01 00:00:00' and store_nbr = 44").show()
#There is good amount of sales data for store 44 in the year 2013.

+--------+
|count(1)|
+--------+
|  490565|
+--------+

In [17]:
sqlContext.sql("select count(distinct(item_nbr)) from sdfTrainTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' and store_nbr = 44").show()
#There is a good number of items that are sold in store 44 in the year 2014.

+------------------------+
|count(DISTINCT item_nbr)|
+------------------------+
|                    2548|
+------------------------+

In [7]:
sqlContext.sql("select count(*) from sdfTrainTbl where date >= '2014-01-01 00:00:00' and date < '2015-01-01 00:00:00' and store_nbr = 44").show()
#There is good amount of sales data for store 44 in the year 2014.

+--------+
|count(1)|
+--------+
|  657633|
+--------+

In [18]:
sqlContext.sql("select count(distinct(item_nbr)) from sdfTrainTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' and store_nbr = 44").show()
#There is a good number of items that are sold in store 44 in the year 2015.

+------------------------+
|count(DISTINCT item_nbr)|
+------------------------+
|                    3078|
+------------------------+

In [9]:
sqlContext.sql("select count(*) from sdfTrainTbl where date >= '2015-01-01 00:00:00' and date < '2016-01-01 00:00:00' and store_nbr = 44").show()
#There is good amount of sales data for store 44 in the year 2015.

+--------+
|count(1)|
+--------+
|  765189|
+--------+

In [14]:
print("Percent of records in train table for store 44 in year 2013: " + str((490565/125497040)*100))

Percent of records in train table for store 44 in year 2013: 0.390897665794

In [15]:
print("Percent of records in train table for store 44 in year 2014: " + str((657633/125497040)*100))

Percent of records in train table for store 44 in year 2014: 0.524022717986

In [16]:
print("Percent of records in train table for store 44 in year 2015: " + str((765189/125497040)*100))

Percent of records in train table for store 44 in year 2015: 0.609726731403

In [18]:
print("Percent of records in train table for store 44 in the years 2013 to 2015: " + str(0.390897665794 + 0.524022717986 + 0.609726731403))

Percent of records in train table for store 44 in the years 2013 to 2015: 1.52464711518

Here is what can be done for further analysis:
Create separate file (say train44.csv) with data for store 44 for the years 2013 to 2015 from train.csv. File size will be roughly 72 MB.
Create separate file with data for store 44 from transactions.csv (say transactions44.csv). File size will be roughly 31 KB.

From train44.csv the data for 2013 and 2014 can be treated as train data, covering 2 full years.
From train44.csv the data for 2015 can be treated as test data, to be used for prediction.

The file test.csv given in Kaggle may not be used at all.